@using PBX.Models
@model IEnumerable<PBX.Models.Wiadomosc>

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        if ((ViewBag.user as Uzytkownik).id == item.nadawca_id)
        {
            <div @if (Model.ElementAt(Model.Count() - 1).Equals(item)) { @: id="last"
                 }
                 class="align-self-end p-3 your-message" title="@(item.wyslano.ToShortDateString()+" "+item.wyslano.ToShortTimeString())" style="border-radius:10px; background-color:gray;">
                <p class="m-0 your-message">
                    @Html.DisplayFor(modelItem => item.wiadomosc)
                </p>
            </div>
            if (Model.ElementAt(Model.Count() - 1).Equals(item) && item.przeczytano)
            {
                <small class="align-self-end" style="color: var(--main-color)">Przeczytane</small>
            }

        }
        else
        {
            <div @if (Model.ElementAt(Model.Count() - 1).Equals(item)) { @: id="last"
                 }
                 class="recieved-message p-3" title="@(item.wyslano.ToShortDateString()+" "+item.wyslano.ToShortTimeString())">
                <h6 class="m-0">
                    @Html.DisplayFor(modelItem => item.Nadawca.imie) napisał/a:
                </h6>
                <p class="mb-0 mt-2">
                    @Html.DisplayFor(modelItem => item.wiadomosc)
                </p>
            </div>

        }
    }
}
else
{
    <h6 class="text-center">Wyślij wiadomość aby rozpocząć rozmowę</h6>
}
<script>
    function bottom() {
        document.getElementById('last').scrollIntoView();
        window.setTimeout(function () { bottom(); }, 2000);
    };

    bottom();
</script>