@model PBX.Models.Zgloszenie

@{
    ViewBag.Title = "Create";
}

<h2>Nowe zgłoszenie</h2>
<h4>naruszenia polityki serwisu PBX</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.zglaszajacy_id)
        @Html.HiddenFor(model => model.zgloszony_id)
        @Html.HiddenFor(model => model.Ogloszenie_id)

        <div class="form-group d-flex justify-content-center">
            @Html.TextAreaFor(model => model.tresc, new { @class = "form-control", style = "min-width: 400px; min-height: 35px; max-height: 100px; resize: none;", @placeholder = "Wpisz tutaj treść zgłoszenia..." })
            @*<textarea class="form-control" id="tresc" name="tresc" placeholder="Napisz treść zgłoszenia..." maxlength="500" cols="200" rows="2" style="min-width: 400px; min-height: 35px; max-height: 100px; resize: none;"></textarea>
            *@
        </div>
        @*<div class="form-group">
                @Html.LabelFor(model => model.tresc, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.tresc, new { htmlAttributes = new { @class = "form-control", style = "min-width: 400px; min-height: 35px; max-height: 100px; resize: none;", @placeholder = "Wpisz tutaj treść zgłoszenia..." } })
                    @Html.ValidationMessageFor(model => model.tresc, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group d-flex justify-content-center">
                <input type="submit" value="Zgłoś" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Wróć do ogłoszenia", "Details", "Advertisement", new { id = Model.Ogloszenie_id }, "")
</div>
