@model PBX.Models.Kategoria
@{
    ViewBag.Title = "Szczegóły Kategorii";
}

<h2>
    @ViewBag.Title
</h2>
<div>
    <h4>Kategoria</h4>
    <hr />
    <div class=" d-flex flex-column justify-content-center align-items-center">
        <table class="info">
            <tr>
                <td class="table-cell-text-right">
                    <strong>@Html.DisplayNameFor(model => model.nazwa)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.nazwa)
                </td>
            </tr>
            @if (Model.Nadkategoria != null)
            {
                <tr>
                    <td class="table-cell-text-right">
                        <strong>Nadkategoria:</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Nadkategoria.nazwa)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Dodaj Podkategorię", "Create", new { parentCategory = Model.nazwa }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>
