@using PBX.Models
@model PBX.Models.Kategoria
@{
    ViewBag.Title = "Edytuj Kategorię";
}

<h2>
    @ViewBag.Title
</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Kategoria</h4>
        <hr />
        <h4 class="text-danger">@ViewBag.error</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group d-flex justify-content-center">
            @Html.EditorFor(model => model.nazwa, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nazwa Kategorii" } })
            @Html.ValidationMessageFor(model => model.nazwa, "", new { @class = "text-danger" })
        </div>

        <div class="form-group d-flex justify-content-center flex-column align-items-center">
            <label for="nadkategoria">Wybierz nadkategorię:</label>
            @Html.EditorFor(model => model.Nadkategoria.nazwa, new { htmlAttributes = new { @class = "form-control", @type = "text", @list = "category-list", @name = "category", @placeholder = "Wybierz kategorię..." } })
            <datalist id="category-list">
                <option selected> - </option>
                @foreach (Kategoria kat in ViewBag.categories as List<Kategoria>)
                {
                    <option>@kat.nazwa</option>
                }
            </datalist>
            @Html.HiddenFor(model => model.nadkategoria_id)
            @Html.ValidationMessageFor(model => model.nadkategoria_id, "", new { @class = "text-danger" })
        </div>

        <div class="form-group d-flex justify-content-center">
            <input type="submit" value="Edytuj" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót do listy", "Index")
</div>
