
@{
    ViewBag.Title = "Panel Administratora";
}
<div class="p-5" style="border-radius:15px;background-color:var(--secondary-color);">
    <h2 class="text-center text-light">Panel Administratora</h2>
    <div class="d-flex flex-column align-items-center">
        @Html.ActionLink("Przeglądaj zgłoszenia: "+ViewBag.reports as string, "Reports", "", new { @class = "btn my-2 p-3", @style = "color:white!important; background-color:var(--accent-color); width:fit-content;" })
        @Html.ActionLink("Przeglądaj ogłoszenia: " + ViewBag.ads as string, "Ads", "", new { @class = "btn my-2 p-3", @style = "color:white!important; background-color:var(--accent-color); width:fit-content;" })
        @Html.ActionLink("Przeglądaj użytkowników: " + ViewBag.users as string, "Users", "", new { @class = "btn my-2 p-3", @style = "color:white!important; background-color:var(--accent-color); width:fit-content;" })
        @Html.ActionLink("Przeglądaj usuniętych użytkowników: " + ViewBag.deleted as string, "DeletedUsers", "", new { @class = "btn my-2 p-3", @style = "color:white!important; background-color:var(--accent-color); width:fit-content;" })
    </div>

    @Html.ActionLink("Wyloguj", "Logout", "Account", "", new { @class = "", @style = "" })
</div>