@model IEnumerable<PBX.Models.Zamowienie>
@{ 
    ViewBag.title = "Sprzedano";
}
@if(Model.Count()<=0)
{
    <h1>Nie masz jeszcze kupionych przedmiotów.</h1>
}
else
{
    <h2>Kupione przedmioty</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Ogłoszenie
                </th>
                <th class="hideIfScreeenIsNarrow">
                    Cena
                </th>
                <th class="hideIfScreeenIsNarrow">
                    Data zamówienia
                </th>
                <th>
                    Status zamówienia
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @Html.ActionLink(item.Ogloszenie.nazwa, "Details", new { id = item.Ogloszenie.id })
                </td>
                <td class="hideIfScreeenIsNarrow">
                    @Html.DisplayFor(modelItem => item.Ogloszenie.cena)
                </td>
                <td class="hideIfScreeenIsNarrow">
                    @Html.DisplayFor(modelItem => item.data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                @if(!item.status.Equals("Zamówienie odebrane") && !item.status.Equals("Zamówienie zakończone")) 
                { 
                    <td>
                        @Html.ActionLink("Potwierdź otrzymanie zamówienia", "OrderReceived", new { id=item.id })
                    </td>
                }
            </tr>
        }

    </table>
}

