@model PBX.Models.Ogloszenie

@{
    ViewBag.Title = "Usuwanie Ogłoszenia";
}

<h2>Usuwanie Ogłoszenia</h2>

<h3>Czy na pewno usunąć to ogłoszenie?</h3>
<div>
    <hr />
    <div class=" d-flex flex-column justify-content-center align-items-center">
        <table class="info">
            <tr>
                <td class="table-cell-text-right">
                    <strong>@Html.DisplayNameFor(model => model.nazwa)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.nazwa)
                </td>
            </tr>
            <tr>
                <td class="table-cell-text-right">
                    <strong>@Html.DisplayNameFor(model => model.opis)</strong>
                </td>
                <td style="max-width:250px">
                    @Html.DisplayFor(model => model.opis)
                </td>
            </tr>
            <tr>
                <td class="table-cell-text-right">
                    <strong>@Html.DisplayNameFor(model => model.dodano)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.dodano)
                </td>
            </tr>
            <tr>
                <td class="table-cell-text-right">
                    <strong>@Html.DisplayNameFor(model => model.typ)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.typ)
                </td>
            </tr>
            <tr>
                <td class="table-cell-text-right">
                    <strong>@Html.DisplayNameFor(model => model.cena)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.cena)
                </td>
            </tr>
            <tr>
                <td class="table-cell-text-right">
                    <strong>@Html.DisplayNameFor(model => model.negocjacja)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.negocjacja)
                </td>
            </tr>
            <tr>
                <td class="table-cell-text-right">
                    <strong>@Html.DisplayNameFor(model => model.pokaz_tel)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.pokaz_tel)
                </td>
            </tr>
            <tr>
                <td class="table-cell-text-right">
                    <strong>@Html.DisplayNameFor(model => model.pokaz_email)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.pokaz_email)
                </td>
            </tr>
            <tr>
                <td class="table-cell-text-right">
                    <strong>Kategoria</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Kategoria.nazwa)
                </td>
            </tr>
        </table>
    </div>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Usuń" class="btn btn-outline-danger" /> |
                @Html.ActionLink("Powrót", "Index", "Home")
            </div>
        }
</div>
