@model PBX.Models.Ogloszenie

@{
    ViewBag.Title = "Usuwanie Ogłoszenia";
}

<h2>Usuwanie Ogłoszenia</h2>

<h3>Czy na pewno usunąć to ogłoszenie?</h3>
<div>
    <hr />
    <div class=" d-flex flex-column justify-content-center align-items-center">
        <table class="info">
            <tr>
                <td class="table-cell-text-right">
                    <strong>@Html.DisplayNameFor(model => model.nazwa)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.nazwa)
                </td>
            </tr>
            <tr>
                <td class="table-cell-text-right">
                    <strong>@Html.DisplayNameFor(model => model.dodano)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.dodano)
                </td>
            </tr>
            <tr>
                <td class="table-cell-text-right">
                    <strong>@Html.DisplayNameFor(model => model.typ)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.typ)
                </td>
            </tr>
            <tr>
                <td class="table-cell-text-right">
                    <strong>@Html.DisplayNameFor(model => model.cena)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.cena)
                </td>
            </tr>
            <tr>
                <td class="table-cell-text-right">
                    <strong>Kategoria</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Kategoria.nazwa)
                </td>
            </tr>
        </table>
        @Html.HiddenFor(model => model.opis)
        @Html.HiddenFor(model => model.negocjacja)
        @Html.HiddenFor(model => model.pokaz_email)
        @Html.HiddenFor(model => model.pokaz_tel)
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color mt-3">
                <input type="submit" value="Usuń" class="btn btn-danger" />
            </div>
        }
    </div>


    

    @Html.ActionLink("Powrót", "MyAds", "Advertisement")
</div>
