@using PBX.Models
@model PBX.Models.Ogloszenie

@{
    ViewBag.Title = "Szczegóły Ogłoszenia";
}

<h3>Szczegóły Ogłoszenia</h3>

<div>


    <div>
        <h2>
            @Html.DisplayFor(model => model.nazwa)
            @if (Model.cena <= 0)
            {
                <span>Za darmo</span>
            }
            else
            {
                <span>
                    -
                    @Html.DisplayFor(model => model.cena)

                    @if (Model.negocjacja)
                    {
                        <span>
                            do negocjacji
                        </span>
                    }
                </span>
            }
        </h2>
        <h5>@Model.dodano.ToShortDateString() o godzinie @Model.dodano.ToShortTimeString()</h5>
    </div>


    <hr style="margin-bottom:.5rem;" />

    @if (Model.wystawil_id != (ViewBag.user as Uzytkownik).id)
    {
        <p class="d-flex" style="justify-content:space-between;">
            @if (ViewBag.fav > 0)
            {
                <a href="@Url.Action("RemoveFavorite", "Advertisement", new {id=Model.id})">
                    <img class="fav-img" src="~/Images/heart_full.png" width="30" height="30" />
                    Usuń z ulubionych
                </a>
            }
            else
            {
                <a href="@Url.Action("AddFavorite", "Advertisement", new {id=Model.id})">
                    <img class="fav-img" src="~/Images/favorite.png" width="30" height="30" />
                    Dodaj do ulubionych
                </a>
            }

            @Html.ActionLink("Napisz wiadomość", "Create", "Chat", new { id = Model.id }, "")

            @if (!ViewBag.reported)
            {

                @Html.ActionLink("Zgłoś ogłoszenie", "Create", "Report", new { id = Model.id }, "")

            }
            else
            {
                <span>Ogłoszenie zostało już zgłoszone. @Html.ActionLink("Anuluj zgłoszenie", "Cancel", "Report", new { id = Model.id }, "")</span>
            }
        </p>
    }
    else
    {
        <p class="d-flex" style="justify-content:center;">
            @Html.ActionLink("Edytuj", "Edit", new { id = Model.id })
        </p>
    }


    <div class="d-flex justify-content-start w-100">
        <div style="min-width:50%;">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.typ)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.typ)
                </dd>
                <dt>
                    Kategoria
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Kategoria.nazwa)
                </dd>
                @if (Model.pokaz_tel)
                {
                    <dt>
                        Numer Telefonu
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Uzytkownik.nr_tel)
                    </dd>
                }
                @if (Model.pokaz_email)
                {
                    <dt>
                        Adres Email
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Uzytkownik.email)
                    </dd>
                }
                <dt>
                    Wystawione przez
                </dt>
                <dd>
                    @Html.ActionLink(Model.Uzytkownik.imie, "Details", "Account", new { id = Model.Uzytkownik.id }, new { @title = "Naciśnij aby wyświetlić profil" })
                </dd>
            </dl>
        </div>

        <div style="min-width:50%;">
            <fieldset class="desc-fs">
                <legend>
                    Opis
                </legend>
                <p>
                    @Html.DisplayFor(model => model.opis)
                </p>
            </fieldset>
        </div>
    </div>



</div>
