@model IEnumerable<PBX.Models.Ogloszenie>

@{
    ViewBag.Title = "Ulubione";
}

<h2>Ulubione</h2>

@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nazwa)
            </th>
            <th class="hideIfScreeenIsNarrow">
                @Html.DisplayNameFor(model => model.dodano)
            </th>
            <th class="hideIfScreeenIsNarrow">
                @Html.DisplayNameFor(model => model.typ)
            </th>
            <th>
                Cena / Wynagrodzenie
            </th>
            <th class="hideIfScreeenIsNarrow">
                Kategoria
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nazwa)
                </td>
                <td class="hideIfScreeenIsNarrow">
                    @Html.DisplayFor(modelItem => item.dodano)
                </td>
                <td class="hideIfScreeenIsNarrow">
                    @Html.DisplayFor(modelItem => item.typ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cena)
                </td>
                <td class="hideIfScreeenIsNarrow">
                    @Html.DisplayFor(modelItem => item.Kategoria.nazwa)
                </td>
                <td>
                    @Html.ActionLink("Wyświetl Szczegóły", "Details", new { id = item.id })
                </td>

            </tr>
        }

    </table>
}
else
{
    <h4>Nie masz jeszcze żadnych ulubionych ogłoszeń.</h4>
}

