@model PagedList.IPagedList<PBX.Models.Ogloszenie>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Wyszukiwanie";
}
<div class="dropdown mb-3">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filtrowanie i Sortowanie
    </button>
    <div id="filter" class="dropdown-menu px-4 py-3" aria-labelledby="dropdownMenuButton">
        @using (Html.BeginForm("Search", "Advertisement", "", FormMethod.Post, new { @class = "form-inline d-flex flex-column align-items-end" }))
        {
            <input type="text" name="query" id="query" value=@ViewBag.searched hidden />
            <div class="d-flex my-2">
                <label class="control-label mr-3" for="sort">Sortowanie: </label>
                <select class="form-control" id="sort" name="sort-type">
                    @foreach (string sort in new string[] { "od najnowszych", "od najstarszych", "od najtańszych", "od najdroższych", "nazwą alfabetycznie" })
                    {
                        if (ViewBag.sort != null && (ViewBag.sort as string).Contains(sort))
                        {
                            <option value="@sort" selected>@sort</option>
                        }
                        else
                        {
                            <option value="@sort">@sort</option>
                        }
                    }
                </select>
            </div>

            <div class="d-flex my-2">
                <label class="control-label mr-3" for="type">Typ Ogłoszenia: </label>
                <select class="form-control" id="type" name="ad-type">
                    <option selected value="Dowolny">Dowolny</option>
                    @foreach (string typ in ViewBag.typy as List<string>)
                    {
                        if (ViewBag.type != null && (ViewBag.type as string).Contains(typ))
                        {
                            <option value="@typ" selected>@typ</option>
                        }
                        else
                        {
                            <option value="@typ">@typ</option>
                        }
                    }
                </select>
            </div>

            <div class="d-flex my-2">
                <label class="control-label mr-3" for="category">Kategoria: </label>
                <input class="form-control" type="text" list="category-list" id="category" value="@ViewBag.category" name="category" />
                <datalist id="category-list" placeholder="Wybierz kategorię...">
                    @foreach (PBX.Models.Kategoria kat in ViewBag.kategorie as List<PBX.Models.Kategoria>)
                    {
                        <option value="@kat.nazwa.Trim()"></option>
                    }
                </datalist>
            </div>
            <div class="d-flex my-2 align-items-center">
                <label class="control-label mr-3" for="price-from">Cena</label>
                <input class="form-control" id="price-from" name="price-from" type="number" placeholder="Od" min="0" value=@ViewBag.price_from style="max-width: 100px" />
                <h3 class="m-0 px-2">-</h3>
                <input class="form-control" id="price-to" name="price-to" type="number" placeholder="Do" min="0" value=@ViewBag.price_to style="max-width: 100px" />
            </div>

            <input class="btn btn-primary mt-2" type="submit" value="Zastosuj" />
        }
    </div>
</div>

<fieldset>
    @{ if (Model.Count() <= 0)
        {
            <h4>Nie znaleziono żadnych ogłoszeń.</h4>
        }
        else
        {
            <div class="searchList">
                @foreach (var item in Model)
                {
                    <a href="@Url.Action("Details", new { id = item.id })">
                        <div class="searchItem d-flex align-items-center">
                            @{
                                string imgString = "data:image;base64," + Convert.ToBase64String(item.zdjecie);
                            }
                            <img class="picture" src="@imgString"/>
                            <div class="d-flex flex-column justify-content-start w-100 mr-3">
                                <h4 style="width: fit-content; text-align: start;">@item.nazwa</h4>
                                <div class="d-flex justify-content-between w-100">
                                    @if (item.cena == 0) {<p>Za darmo</p>}
                                    else { <p>@item.cena zł</p>}
                                <p>@item.dodano.ToShortDateString()</p>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        }
    }
    @if (Model.Count() > 0)
    {
        if (ViewBag.searched != null)
        {
            <legend>Znalezione Ogłoszenia dla "@ViewBag.searched"</legend>
        }
        else
        {
            <legend>Wszystkie Ogłoszenia</legend>
        }
        <p>Znaleziono @ViewBag.found wyników</p>


   
    }
    else
    {
        <h2>Nie naleziono żadnych ogłoszeń.</h2>
    }
    <p>
        Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount
    </p>


    @Html.PagedListPager(Model, page => Url.Action("Search",
        new
            {
                page,
                sortOrder = ViewBag.sort,
                query = ViewBag.searched,
            typ = ViewBag.type,
                kategoria = ViewBag.category,
            price_od = ViewBag.price_from,
                price_do = ViewBag.price_to
            }))
</fieldset>
