@model IEnumerable<PBX.Models.Zamowienie>
@{
    ViewBag.title = "Sprzedane";
}
@if (Model.Count() <= 0)
{
    <h1>Nie masz jeszcze żadnych sprzedanych przedmiotów.</h1>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Ogłoszenie
                </th>
                <th>
                    Kupujący
                </th>
                <th>
                    Cena
                </th>
                <th>
                    Data zamówienia
                </th>
                <th>
                    Status zamówienia
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ogloszenie.nazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uzytkownik.imie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ogloszenie.cena)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.data)
                </td>
                <td>
                    @{
                        SelectListItem[] statusy = new SelectListItem[]
                        {
                        new SelectListItem() { Text="Nowe zamówienie", Value= "Nowe zamówienie" },
                        new SelectListItem() { Text="Zamówienie przygotowane", Value= "Zamówienie przygotowane" },
                        new SelectListItem() { Text="Zamówienie wysłane", Value= "Zamówienie wysłane" },
                        new SelectListItem() { Text="W doręczeniu", Value= "W doręczeniu" },
                        new SelectListItem() { Text="Zamówienie doręczone", Value= "Zamówienie doręczone" },
                        new SelectListItem() { Text="Zamówienie zakończone", Value= "Zamówienie zakończone" }
                    };
                        var selected = statusy.Where(s => s.Text.Equals(item.status)).First();
                        selected.Selected = true;
                    }
                    @using (Html.BeginForm("ChangeOrderStatus", "Advertisement", new { id = item.id, status = "status" }, FormMethod.Post, new { @class = "form" + item.id, @id = item.status }))
                    {
                        @Html.DropDownListFor(modelItem => item.status, statusy, new { @onchange = "statusChanged(this)", @id = item.id })
                        <button type="submit" class="btn-@item.id" hidden>Zapisz</button>
                    }
                </td>
            </tr>
         }

    </table>

    <script type="text/javascript">
        function statusChanged(selectObject) {
            var form = document.querySelector(".form" + selectObject.id);
            form.action = "/Advertisement/ChangeOrderStatus/" + selectObject.id + "?status=" + selectObject.value;
            document.querySelector(".btn-" + selectObject.id).hidden = form.id == selectObject.value;
        }
    </script>
}