@model IEnumerable<PBX.Models.Zamowienie>
@{
    ViewBag.title = "Sprzedane";
}
@if (Model.Count() <= 0)
{
    <h1>Nie masz jeszcze żadnych sprzedanych przedmiotów.</h1>
}
else
{
    <h2>Sprzedane przedmioty</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Ogłoszenie
                </th>
                <th class="hideIfScreeenIsNarrow">
                    Kupujący
                </th>
                <th class="hideIfScreeenIsNarrow">
                    Cena
                </th>
                <th class="hideIfScreeenIsNarrow">
                    Data zamówienia
                </th>
                <th>
                    Status zamówienia
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Ogloszenie.nazwa, "Details", "Advertisement", new { id = item.Ogloszenie.id })
                </td>
                <td class="hideIfScreeenIsNarrow">
                    @Html.DisplayFor(modelItem => item.Uzytkownik.imie)
                </td>
                <td class="hideIfScreeenIsNarrow">
                    @Html.DisplayFor(modelItem => item.Ogloszenie.cena)
                </td>
                <td class="hideIfScreeenIsNarrow">
                    @Html.DisplayFor(modelItem => item.data)
                </td>
                <td>
                    @if (!item.status.Equals("Zamówienie odebrane") && !item.status.Equals("Zamówienie zakończone")) 
                    { 
                        SelectListItem[] statusy = new SelectListItem[]
                            {
                            new SelectListItem() { Text="Nowe zamówienie", Value= "Nowe zamówienie" },
                            new SelectListItem() { Text="Zamówienie przygotowane", Value= "Zamówienie przygotowane" },
                            new SelectListItem() { Text="Zamówienie wysłane", Value= "Zamówienie wysłane" },
                            new SelectListItem() { Text="W doręczeniu", Value= "W doręczeniu" },
                            new SelectListItem() { Text="Zamówienie doręczone", Value= "Zamówienie doręczone" }
                        };
                        var selected = statusy.Where(s => s.Text.Equals(item.status)).First();
                        selected.Selected = true;
                        using (Html.BeginForm("ChangeOrderStatus", "Advertisement", new { id = item.id, status = "status" }, FormMethod.Post, new { @class = "form" + item.id, @id = item.status }))
                        {
                            @Html.DropDownListFor(modelItem => item.status, statusy, new { @onchange = "statusChanged(this)", @id = item.id })
                            <button type="submit" class=" btn btn-default btn-@item.id" hidden>Zapisz</button>
                        }
                    }
                    else if(item.status.Equals("Zamówienie odebrane"))
                    {
                        <span>Zamówienie odebrane</span><br/>
                        @Html.ActionLink("Zakończ zamówienie", "FinaliseOrder", new { id = item.id })
                    }
                    else
                    {
                        <span>@item.status</span>
                    }
                </td>
            </tr>
         }

    </table>

    <script type="text/javascript">
        function statusChanged(selectObject) {
            var form = document.querySelector(".form" + selectObject.id);
            form.action = "/Advertisement/ChangeOrderStatus/" + selectObject.id + "?status=" + selectObject.value;
            document.querySelector(".btn-" + selectObject.id).hidden = form.id == selectObject.value;
        }
    </script>
}